{% extends "layout.html" %}
{% set bg_image = url_for('static', filename='images/scene2.png') %}

{% block title %}
    Stranger Things
{% endblock %}

{% block main %}
    <div action = "/scene2"  class="home flex flex-col items-center text-center gap-4">
        <p id = "line1" class="typing-text text-lg opacity-90" data-text="You realise your family is out of town,"></p>
        <p id="line2" class="typing-text text-lg opacity-90" data-text="The house feels eerily silent."></p>
        <p id = "line3" class="typing-text text-2xl font-semibold mt-6" data-text="What do you do?"></p>

        <form id="action-form" method ="post" class = "flex flex-col gap-3 mt-4 opacity-0 transition-opacity duration-1000">
            <button class="{{ button_class }}" name="choice" value="one">
                Go to Dustin's house</button>
            <button class="{{ button_class }}" name="choice" value="two">
                Stay home and investigate</button>
        </form>
    </div>

    {# JS moved to layout.html #}

{% endblock %}